.indexModule{
    border:1px solid lightblue;
    border-radius:6px;
    -moz-border-radius:6px; /* Old Firefox */
    background-color: white;
}

.moduleHeader{
    border-radius:6px 6px 0px 0px;
    height: 35px;
    line-height: 35px;
    background-color: lightblue;
}

.moduleContent{
    text-align: left;
    margin-left: 8px;
    margin-top: 8px;
}

a#newsCategory{
    color:black;
    font-weight: bold;
}

a#newsTitle{
    color:black;
}

.headerTitle{
    margin-top:auto;
    text-align: left;
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.indexModuleLine1{
    height: 250px;
}

.indexModuleLine2{
    height: 380px;
    margin-top: 15px;
}

.winnerList{
    height: 330px; //要修改.indexModuleLine2 需要对此处进行相应修改以保证样式正确 height－50
}

label.indexLogin{
    margin-left: 10px;
    margin-right: -15px;
}

input.indexLogin{
    width:120px;
}

input#submit.indexLogin{
    width:150px;
    margin:auto;
}

button.indexLogin{
    width:150px;
    margin-left: auto;
    margin-right: auto;
}

p.test{
    padding-left: 7px;
}

.loginForm{
    margin-top:50px;
}

.sidebar{
    text-align: center;
    border:1px solid lightblue;
    border-radius:6px;
    -moz-border-radius:6px; /* Old Firefox */
    background-color: white;
}
p#sidebar_1{
    margin-top:10px;
    margin-bottom: -10px;
}

p#loginTitle{
    font-size: 35px;
    text-align: center;
    min-height: 60px;
    margin-left: 80px;
}

p#signupTitle{
    font-size: 35px;
    text-align: center;
    min-height: 60px;
    margin-left: 80px;
}

img.WorksImgSmall{
    height: 80%;
    width: 80%;
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
}

.worksBox{
    text-align: center;
    text-decoration: underline;
}

div#formAttendContest{
    margin-top: 100px;
}
