.newsTitle{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 25px;
    color: red;
}

.newsInfo{
    margin-top: 10px;
    text-align: center;
    font-size:10px;
    font-weight: bold;
}

.newsContent{
    min-height: 600px;
}

hr.hrNews{ 
height:1px;
border:none;
border-top:1px solid black;
}

.main{
    min-height: 600px;
}

.sidebar{
    text-align: center;
    border:1px solid lightblue;
    border-radius:6px;
    -moz-border-radius:6px; /* Old Firefox */
    background-color: white;
}
p#sidebar_1{
    margin-top:10px;
    margin-bottom: -10px;
}